.weather-container {

    width: 300px;
    border-radius: 6px;
    color: white;
    background-color: #333;
    margin: 20px auto 0 auto;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
    padding: 10px 20px 20px 20px;
}

.top-weather-info {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city-name {

    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1;
    margin: 0;
    font-size: 18px;
}
.city-weather {

    font-weight: 400;
    line-height: 1;
    margin-top: 5px;
    font-size: 14px;
}

.weather-icon {

    width: 100px;
}
